@import "./base/variables";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "./base/base";
@import "./base/typo";
@import "./components/buttons";
@import "./pages/homepage";
@import "./pages/pages";
@import "./layouts/header";
@import "./layouts/footer";
@import "./utils/animations";

/*Mobile*/


/*Général*/

body {
    margin: 0;
}

input {
    border: none;
    background-color: transparent;
}

main {
    background-color: #EAEAEA;
    height: 50px;
}