@import "./utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "./base/base";
@import "./base/typo";
@import "./components/buttons";
@import "./pages/hp";
@import "./pages/pages";
@import "./layouts/header";
@import "./layouts/footer";
@import "./utils/animations";




/*Mobile*/ 

@media screen and (max-width:767px)
{
    
    /*Général*/
    
    body 
    {
        margin: 0;
    }

        form 
        {
            background-color: #EAEAEA;
            display: flex;
            justify-content: center;
            margin-left: 30px;
            align-items: center;
            padding: 1rem;
        }

            input 
            {
                border: none;
                background-color: transparent;
            }

    main 
    {
        background-color: #EAEAEA;
        height: 50px;
    }

}