@charset "UTF-8";
/*Couleurs principales*/
/* Couleurs de fonds et d'icônes */
/* Couleurs de bouton */
/*$breakpoints: (
  "pluton": (
    max-width: 345px,
  ),
  "terre": (
    min-width: 600px,
  ),
  "jupiter": (
    min-width: 900px,
  ),
  "soleil": (
    min-width: 1200px,
  ),
) !default;*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
ul {
  list-style: none;
}

h1 {
  font-family: 'Shrikhand';
}

/*TYPOGRAPHY*/
.button {
  height: 3rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  width: auto;
  color: #ffffff;
  border-color: transparent;
}

.menu-choice-btn-order {
  height: 3rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  width: 40%;
  color: #ffffff;
  border-color: transparent;
}

/*bouton menu*/
/*Localisation*/
form {
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
}

input {
  border: none;
  background-color: transparent;
  text-align: center;
}

main {
  background-color: #EAEAEA;
  height: 50px;
}

.icon_geo {
  margin-right: 20px;
}

/* Part 1 */
.intro {
  background-color: #f4f4f5;
}

.intro-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem;
  justify-items: center;
}

.intro-title {
  font-size: 22px;
}

/*Comment ça marche */
.fonctionnement {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.fonctionnement .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f5;
  border-radius: 1.5rem;
  padding: 1.625rem var(--gap, 1.25rem) 1.625rem 0;
  margin: 0 30px 20px 30px;
  gap: 1.25rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.fonctionnement .card:hover {
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  background-color: #f2eafb;
}

.fonctionnement .card i {
  padding-left: 0px;
  color: grey;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  font-size: 20px;
}

.fonctionnement .card i:hover {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: #9356dc;
}

.fonctionnement .card p {
  padding-left: 20px;
  color: black;
}

.fonctionnement .card p:hover {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: #9356dc;
}

.fonctionnement .card-number {
  background-color: #9356dc;
  border-radius: 1.5rem;
  height: var(--label-height, 1.5rem);
  width: var(--label-height, 1.5rem);
  margin-left: -7px;
  gap: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fonctionnement .card-number-text {
  color: #ffffff;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 7px;
  line-height: 1.5rem;
}

.section-title {
  margin-left: 1rem;
}

ol {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* Les restos*/
.restos {
  background-color: #f4f4f5;
  padding-top: 10px;
  padding-bottom: 5px;
}

.restos .section-grid {
  padding: 20px;
}

.section-title {
  margin-top: 20px;
}

.all_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  margin-right: 10px;
  width: 100%;
  position: relative;
}

.cards a {
  display: block;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.cards .new-tag {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2%;
  padding: 0 0.6em;
  position: absolute;
  left: 70%;
  margin-top: 0.5rem;
}

.cards .cards-img img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.cards .cards-header .cards-header-content {
  margin-left: 20px;
  color: black;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.cards .cards-header .cards-header-content .card-header-title {
  margin-top: 0;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.cards .cards-header .cards-header-content .cards-header-para {
  margin-top: -12px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

@media screen and (min-width: 1024px) {
  /*Comment ça marche */
  .fonctionnement {
    margin: 40px 0px 40px 0px;
  }
  .fonctionnement .section-grid1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonctionnement .card {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.35rem;
  }
  .fonctionnement .card .new-tag {
    right: 0;
    /*right: 1.5rem; --> pq ca ne fonctionne pas sur la version web ?*/
  }
  .fonctionnement .card i {
    padding-left: O;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .fonctionnement .card .card-number {
    background-color: #9356dc;
    border-radius: 1.5rem;
    height: var(--label-height, 1.8rem);
    width: var(--label-height, 1.8rem);
    margin: -35px 0px 0px 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    gap: 1.5rem;
  }
  .fonctionnement .card .card-number .card-number-text {
    margin-left: 9px;
    line-height: 1.8rem;
  }
  .fonctionnement .card .card-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  /* Les restos*/
  .restos .section-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    padding: 0px 21px 0px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .restos .section-grid .cards {
    width: 25%;
    margin-left: 2%;
  }
  .restos .section-grid .cards .cards-header {
    margin-right: 12px;
  }
  .restos .section-grid .cards .cards-img {
    width: 100%;
    height: 183px;
  }
  .restos .section-grid .cards .cards-img img {
    height: 183px;
    width: 100%;
  }
  .all_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .section-title {
    margin-left: 2.5rem;
  }
}

.header .logo img {
  width: 60%;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .icon-return {
  color: #27272a;
}

.logo img {
  width: 60%;
  height: 2.5rem;
  margin-left: 3rem;
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-like {
  margin-left: 5%;
  font-size: 1.5rem;
}

.icon-like:hover .full-heart {
  opacity: 1;
}

.icon-like:hover .empty-heart {
  opacity: 0;
}

.icon-like i {
  font-size: 25px;
}

.icon-like .empty-heart {
  position: absolute;
  opacity: 1;
  color: grey;
}

.icon-like .full-heart {
  right: 1.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.le-menu {
  background-color: #f4f4f5;
  margin-top: -60px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 15px 20px 15px;
}

.le-menu h2 {
  margin-bottom: 0;
  font: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.le-menu .border {
  background-color: #99e2d0;
  width: 45px;
  height: 0.2rem;
  margin-bottom: 20px;
}

.les-entrees {
  margin-bottom: 35px;
}

.les-plats {
  margin-bottom: 35px;
}

.les-desserts {
  margin-bottom: 35px;
}

.card-dish {
  position: relative;
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 0% 0% 0% 15px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #D4D4D4;
          box-shadow: 5px 5px 10px #D4D4D4;
  cursor: pointer;
  width: 90%;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-animation: delay 2000ms;
          animation: delay 2000ms;
}

.card-dish:hover > .card-choose {
  /*va s'appliquer sur la div choose*/
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card-dish:hover > .card-price {
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.card-dish:hover > p {
  width: calc(90%-200px);
  padding-right: 140px;
}

.card-dish p {
  padding-right: 56px;
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  -webkit-transition: width 400ms;
  transition: width 400ms;
}

.card-dish .card-dish-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
}

.card-dish .card-dish-meal {
  display: block;
  font-weight: 900;
  margin-bottom: 5px;
}

.card-dish .card-price {
  position: absolute;
  right: 5%;
  bottom: 16px;
  font-size: 110%;
  font-weight: 900;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.card-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  right: -5px;
  top: 0;
  width: 70px;
  height: 71px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
  font-size: 1.5rem;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  padding: 5px 15px 5px 15px;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-choose i {
  color: #ffffff;
  margin: auto;
  font-size: 30px;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.btn-menu {
  position: relative;
  width: 94%;
  height: 80px;
}

.menu-choice-btn {
  text-align: center;
  padding: 30px 12px 50px 0;
}

.menu-choice-btn .menu-choice-btn-order {
  width: 180px;
}

@media screen and (min-width: 1024px) {
  /* Le titres */
  .le-menu {
    padding: 10px 60px 79px 50px;
    margin-top: -5px;
  }
  .le-menu .la-carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
  }
  .le-menu h2 {
    margin-bottom: 0;
    font: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  .le-menu .border {
    background-color: #99e2d0;
    width: 45px;
    height: 0.2rem;
    margin-bottom: 20px;
  }
  .card-dish {
    padding: 0px 15px 0px 15px;
    width: 100%;
  }
}

/*Mobile*/
/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  -ms-flex-line-pack: center;
      align-content: center;
}

/* Mobile */
.footer {
  background-color: #27272a;
  color: #ffffff;
  padding: 1.125rem 1.5625rem 1.25rem;
}

.logo-footer {
  color: #ffffff;
  size: 60px;
  font-family: 'Shrikhand';
}

.footer-list {
  color: #ffffff;
  margin-right: 40px;
  margin-left: -38px;
}

.footer-list li {
  margin-bottom: 5px;
  margin-right: 30px;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-wrapper .logo-footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 2rem;
  }
  .footer-wrapper .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
  .footer-wrapper .footer-list li {
    margin-right: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/*Loader*/
.loader {
  -webkit-perspective: 700px;
          perspective: 700px;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 999;
  -webkit-animation: background 2.6s none;
          animation: background 2.6s none;
  visibility: hidden;
}

@-webkit-keyframes background {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes background {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.loader > span {
  font-size: 370%;
  -webkit-animation: flip 4s none;
          animation: flip 4s none;
  font-family: "Shrikhand";
  color: #EAEAEA;
  display: inline-block;
  -webkit-transform-origin: 0 70%;
          transform-origin: 0 70%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
}

@-webkit-keyframes flip {
  35% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

@keyframes flip {
  35% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

/*Définition des couleurs*/
.loader > span:nth-child(n+5) {
  color: #9356dc;
}

.loader > span:nth-child(-n+2) {
  color: #ff79da;
}

/*Réglage délais d'apparition*/
.loader > span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader > span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader > span:nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader > span:nth-child(5) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader > span:nth-child(6) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.loader > span:nth-child(7) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.loader > span:nth-child(8) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/* Apparition progressive des menus */
@-webkit-keyframes delay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes delay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#starter {
  -webkit-animation: delay 1400ms;
          animation: delay 1400ms;
}

#second {
  -webkit-animation: delay 2000ms;
          animation: delay 2000ms;
}

#third {
  -webkit-animation: delay 2500ms;
          animation: delay 2500ms;
}

/* Coeur menu*/
.icon-like:hover .full-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.icon-like:hover .full-heart:hover {
  -webkit-transition: 3000ms ease-in-out;
  transition: 3000ms ease-in-out;
}

.icon-like:hover .empty-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  color: transparent;
}

/*Mobile*/
/*Général*/
body {
  margin: 0;
}

input {
  border: none;
  background-color: transparent;
}

main {
  background-color: #EAEAEA;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */