/*ordi*/ 

.restos
{
    background-color: #f4f4f5;
}


/*Mobile*/ 

@media screen and (max-width:767px)
{
    
    /*Général*/
    
    body 
    {
        margin: 0;
    }

    /*Header*/
    
    header
    {
        justify-content: center;
        height: 4rem;
        padding: 1.25rem 1rem 0;
    }

        form 
        {
            background-color: #EAEAEA;
            margin-top: 10px;
            display: flex;
            margin-left: 30px;
            align-items: center;
        }

            input 
            {
                border: none;
                background-color: transparent;
            }

    main 
    {
        background-color: #EAEAEA;
        height: 50px;
    }

    /*Intro*/

    .intro
    {
        background-color: #f4f4f5;
    }

    .intro-wrapper
    {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        justify-items: center;
    }

    .intro-title
    {
        font-size: 22px;
    }

    /*Comment ça marche*/

    .fonctionnement .card
    {
        display: flex;
        flex-direction: row;
        background-color: #f4f4f5;
        border: solid 1px black;
        border-radius: 1.5rem;
        padding: 1.625rem var(--gap, 1.25rem) 1.625rem 0;
        margin: 0 20px 20px 20px; 
        gap: 1.25rem;
    }

    .section-title
    {
        margin-left: 1rem;
    }

    .fonctionnement .card-number
    {
        background-color: #9356dc;
        border-radius: 1.5rem;
        height: var(--label-height, 1.5rem);
        width: var(--label-height, 1.5rem);
        justify-content: center;
        align-items: center;
        margin-left: -7px;
        gap: 1.5rem;
    }

    .fonctionnement .card-number-text
    {
        color: #ffffff;
        align-content: center;
    }

    .fonctionnement .card-info
    {
        padding-left: 20px;
        color: grey;
    }

    .fonctionnement .card-title
    {
        padding-left: 20px;
    }

    ol
    {
        padding-inline-start: 0;
    }

    /*Les restos*/

    .restos .section-grid
    {
      padding: 20px;  
    }

    .cards
    {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 0.5rem;
        text-decoration: solid;
    }

    .cards-header 
    {
        display: flex;
    }

    .cards .cards-img img
    {
        width: 100%;
        height: 190px;
        position: relative;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        object-fit: cover;
    }

    .cards-header-content
    {
        margin-left: 5px;
        color: black;
    }

    .card-header-title
    {
        margin-top: 0;
    }

    .icon_like
    {
        margin-left: 80px;
        justify-items: center;
    }

}