@media screen and (max-width:767px)
{

    header
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    header img 
    {
        width: 60%;
        height: 2.2rem;
        justify-content: center;
    }

    .cover
    {
        display: block;
        margin-right: 5px;
    }

    .cover img 
    {
        width: 100%;

    }

    .menu
    {
        background-color: #f4f4f5;
        display: flex;
        align-items: center;
        font-family: "Shrikhand", bold, cursive;
        font-weight: 1200;
        align-content: space-between;
        margin-top: -30px;
    }

    .menu .menu-icon
    {
        font-size: 20px;
        margin-left: 50px;
    }
}

