
/*Loader*/
.loader {
  perspective: 700px;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 999;
  animation: background 3s none;
}
@keyframes background {
  0%{
    visibility: visible;
  }

  100%{
    visibility: hidden;
  }
}

.loader > span{
  font-size: 400%;
  
  animation: flip 1s none;
  font-family: $font-logo;
  color: $color-bg-dark;
  display: inline-block;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  text-align: center;
}


@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}


/* Apparition progressive des menus */ 

@keyframes delay {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    /*ajouter d'autre intervalles*/
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.starter{
  animation: delay 1s ease-in-out 0.6s 1 normal both;
}

.second{
  animation: delay 5s ease-in-out;
}

.third{
  animation: delay 8s ease-in-out;
}


/* Coeur menu*/
.icon-like:hover .full-heart{
  transform: scale(1);
}

.icon-like:hover .empty-heart{
  background: linear-gradient($color-primary, $color-secondary);
  color: transparent;
}


/* Apparition checkbox*/
/*.card-choose{
  &:hover .card-choose{
    transform: translateX(0);
  }
  &:hover .card-choose i{
    transform: rotate(0turn);
  }
  &:hover .card-price{
    transform: translateX(-400%);
  }
  &:hover p{
    width: calc(94%-70px);
  }*/
