



/* Apparition progressive des menus */ 

@keyframes delay {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.starter{
  animation: delay 1s ease-in-out;
}

.second{
  animation: delay 2s ease-in-out;
}

.third{
  animation: delay 3s ease-in-out;
}


/* Coeur menu*/
.icon-like:hover .full-heart{
  transform: scale(1);
}

.icon-like:hover .empty-heart{
  background: linear-gradient($color-primary, $color-secondary);
  color: transparent;
}