/*Couleurs principales*/

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* Couleurs de fonds et d'icônes */

$color-bg-light: #f4f4f5;
$color-bg-medium: #f5edff;
$color-bg-dark: #EAEAEA;
$color-bg-darken: #27272a;
$color-icons: #8d8d8d;