@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");


/*Localisation*/

form 
{
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

input 
{
    border: none;
    background-color: transparent;
}

main 
{
    background-color: #EAEAEA;
    height: 50px;
}

.icon_geo
{
    margin-right: 20px;
}

/* Part 1 */

.intro
{
    background-color: #f4f4f5;
}

.intro-wrapper
{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    justify-items: center;
}

.intro-title
{
    font-size: 22px;
}

/*Comment ça marche */

.fonctionnement {
    justify-content: space-between;
    align-items: baseline;
    & .card{
        display: flex;
        background-color: #f4f4f5;
        border-radius: 1.5rem;
        padding: 1.625rem var(--gap, 1.25rem) 1.625rem 0;
        margin: 0 20px 20px 20px; 
        gap: 1.25rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        &:hover{
            transition: background-color .3s ease-in-out;
            background-color: #f2eafb;
            color: #9356dc;
        }
        & .card-info{
            padding-left: 20px;
            color: grey;
        }
    }
    & .card-number{
        background-color: #9356dc;
        border-radius: 1.5rem;
        height: var(--label-height, 1.5rem);
        width: var(--label-height, 1.5rem);
        margin-left: -7px;
        gap: 1.5rem;
    }
    & .card-number-text{
        color: #ffffff;
        align-content: center;
        margin-left: 7px;
        line-height: 1.5rem;
    }
    &.card-title{
        padding-left: 20px;
    }
}


.section-title
{
    margin-left: 1rem;
}

ol
{
    padding-inline-start: 0;
}

/* Les restos*/

.restos
{
    background-color: #f4f4f5;
    padding-top: 10px;
    padding-bottom: 5px;
    & .section-grid{
        padding: 20px;
    }
}

.section-title{
    margin-top: 20px;
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    text-decoration: solid;
    & a {
        display: block;
    }
    & .new-tag{
        background-color: #99E2D0;
        color: #008766;
        border-radius: 2%;
        padding: 0 0.6em;
        position: absolute;
        /*right: 1.5rem; --> pq ca ne fonctionne pas sur la version web ?*/
        margin-top: 0.5rem;
    }
    & .cards-img {
        & img{
            width: 100%;
            height: 190px;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            object-fit: cover;
        }
    }
    & .cards-header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        & .cards-header-content
        {
            margin-left: 20px;
            color: black;
            text-decoration: solid;
            & .card-header-title
            {
                margin-top: 0;
                text-decoration: solid;
            }
            
            & .cards-header-para
            {
                margin-top: -12px;
                text-decoration: solid;
            }
        }
    }
} 

/*.icon_like
{
    justify-items: center;
    align-items: center;
    justify-items: center;
    margin-right: 40px;
    font-size: 30px;
    color: black;
    &:active {
        background-color: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%)                   ;
        border: transparent;
    }
}
*/

@media screen and (min-width:1024px) {

    /*Comment ça marche */

    .fonctionnement {
        margin: 40px 0px 40px 0px;
        & ol{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 54px;
        }
        & .card{
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 1.35rem;
            & .card-info{
                padding-left: O;
                align-self: center;
            }
            & .card-number{
                background-color: #9356dc;
                border-radius: 1.5rem;
                height: var(--label-height, 1.8rem);
                width: var(--label-height, 1.8rem);
                margin: -35px 0px 0px 20px;
                align-self: center;
                gap: 1.5rem;
                & .card-number-text{
                    margin-left: 9px;
                    line-height: 1.8rem;
                }
            }
            & .card-title{
                align-self: center;
            }
        }
    }

    /* Les restos*/

    .restos
    {
        & .section-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0px 0px 0px 40px;
            margin-bottom: 30px;
            margin-top: 30px;
            & .cards{
                width: 90%;
                & .cards-header{
                    margin-right: -21px;
                }
                & .cards-img{
                    width: 110.9%;
                    height: 183px;
                    & img{
                        height: 183px;
                    }
                }
                & .new-tag{
                }     
            }
        }    
    }
    .section-title{
        margin-left: 2.5rem;
    }
}