@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

/*Localisation*/

form {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

input {
    border: none;
    background-color: transparent;
}

main {
    background-color: #EAEAEA;
    height: 50px;
}

.icon_geo {
    margin-right: 20px;
}


/* Part 1 */

.intro {
    background-color: #f4f4f5;
}

.intro-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    justify-items: center;
}

.intro-title {
    font-size: 22px;
}


/*Comment ça marche */

.fonctionnement {
    justify-content: space-between;
    align-items: baseline;
    & .card {
        display: flex;
        background-color: #f4f4f5;
        border-radius: 1.5rem;
        padding: 1.625rem var(--gap, 1.25rem) 1.625rem 0;
        margin: 0 30px 20px 30px;
        gap: 1.25rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        &:hover {
            transition: background-color .3s ease-in-out;
            background-color: #f2eafb;
        }
        & i {
            padding-left: 0px;
            color: grey;
            align-self: center;
            margin-top: 10px;
            font-size: 20px;
            &:hover {
                transition: color .3s ease-in-out;
                color: #9356dc;
            }
        }
        & p {
            padding-left: 20px;
            color: black;
            &:hover {
                transition: color .3s ease-in-out;
                color: #9356dc;
            }
        }
    }
    & .card-number {
        background-color: #9356dc;
        border-radius: 1.5rem;
        height: var(--label-height, 1.5rem);
        width: var(--label-height, 1.5rem);
        margin-left: -7px;
        gap: 1.5rem;
        align-self: center;
    }
    & .card-number-text {
        color: #ffffff;
        align-content: center;
        margin-left: 7px;
        line-height: 1.5rem;
    }
}

.section-title {
    margin-left: 1rem;
}

ol {
    padding-inline-start: 0;
}


/* Les restos*/

.restos {
    background-color: #f4f4f5;
    padding-top: 10px;
    padding-bottom: 5px;
    & .section-grid {
        padding: 20px;
    }
}

.section-title {
    margin-top: 20px;
}

.all_cards {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    margin-right: 10px;
    width: 100%;
    position: relative;
    & a {
        display: block;
        text-decoration: solid;
    }
    & .new-tag {
        background-color: #99E2D0;
        color: #008766;
        border-radius: 2%;
        padding: 0 0.6em;
        position: absolute;
        left: 70%;
        margin-top: 0.5rem;
    }
    & .cards-img {
        & img {
            width: 100%;
            height: 190px;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            object-fit: cover;
        }
    }
    & .cards-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        & .cards-header-content {
            margin-left: 20px;
            color: black;
            text-decoration: solid;
            & .card-header-title {
                margin-top: 0;
                text-decoration: solid;
            }
            & .cards-header-para {
                margin-top: -12px;
                text-decoration: solid;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    /*Comment ça marche */
    .fonctionnement {
        margin: 40px 0px 40px 0px;
        & .section-grid1 {
            display: flex;
            justify-content: center;
        }
        & .card {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 1.35rem;
            & .new-tag {
                right: 0;
                /*right: 1.5rem; --> pq ca ne fonctionne pas sur la version web ?*/
            }
            & i {
                padding-left: O;
                align-self: center;
            }
            & .card-number {
                background-color: #9356dc;
                border-radius: 1.5rem;
                height: var(--label-height, 1.8rem);
                width: var(--label-height, 1.8rem);
                margin: -35px 0px 0px 0px;
                align-self: center;
                gap: 1.5rem;
                & .card-number-text {
                    margin-left: 9px;
                    line-height: 1.8rem;
                }
            }
            & .card-title {
                align-self: center;
            }
        }
    }
    /* Les restos*/
    .restos {
        & .section-grid {
            display: flex;
            /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
            padding: 0px 21px 0px 0px;
            margin-bottom: 30px;
            margin-top: 30px;
            & .cards {
                width: 25%;
                margin-left: 2%;
                & .cards-header {
                    margin-right: 12px;
                }
                & .cards-img {
                    width: 100%;
                    height: 183px;
                    & img {
                        height: 183px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .all_cards {
        flex-direction: row;
        width: 100%;
    }
    .section-title {
        margin-left: 2.5rem;
    }
}