@media screen and (max-width:767px)
{

/*Localisation*/

    form 
    {
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    input 
    {
        border: none;
        background-color: transparent;
    }

    main 
    {
        background-color: #EAEAEA;
        height: 50px;
    }

    .icon_geo
    {
        margin-right: 20px;
    }

/* Part 1 */

    .intro
    {
        background-color: #f4f4f5;
    }

    .intro-wrapper
    {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        justify-items: center;
    }

    .intro-title
    {
        font-size: 22px;
    }

/*Comment ça marche */

    .fonctionnement .card
    {
        display: flex;
        flex-direction: row;
        background-color: #f4f4f5;
        border-radius: 1.5rem;
        padding: 1.625rem var(--gap, 1.25rem) 1.625rem 0;
        margin: 0 20px 20px 20px; 
        gap: 1.25rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        transition: background-color .3s ease-in-out;
        &:hover{
            background-color: #9356dc;
        }
    }

    .section-title
    {
        margin-left: 1rem;
    }

    .fonctionnement .card-number
    {
        background-color: #9356dc;
        border-radius: 1.5rem;
        height: var(--label-height, 1.5rem);
        width: var(--label-height, 1.5rem);
        margin-left: -7px;
        gap: 1.5rem;
    }

    .fonctionnement .card-number-text
    {
        color: #ffffff;
        align-content: center;
        margin-left: 7px;
        line-height: 1.5rem;
    }


    .fonctionnement .card-info
    {
        padding-left: 20px;
        color: grey;
        &:hover{
            color: #ffffff;
        }
    }

    .fonctionnement .card-title
    {
        padding-left: 20px;
        &:hover{
            color: #ffffff;
        }
    }

    ol
    {
        padding-inline-start: 0;
    }

    /* Les restos*/

    .restos
    {
        background-color: #f4f4f5;
        & .section-grid{
            padding: 20px;
        }
    }

    .cards
    {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 0.5rem;
        text-decoration: solid;
        & .cards-img img{
            width: 100%;
            height: 190px;
            position: relative;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            object-fit: cover;
        }
    }

    .cards-header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards-header-content
    {
        margin-left: 20px;
        color: black;
    }

    .card-header-title
    {
        margin-top: 0;
    }

    .cards-header-para
    {
        margin-top: -12px;
    }

    .icon_like
    {
        justify-items: center;
        align-items: center;
        margin-right: 20px;
        font-size: 30px;
        color: black;
        &:active {
            background-color: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
            border: transparent;
        }
    }
}