.header .logo
{
    & img{
        width: 60%;
    }
}

/*keyframe pour l'affichage des cards !plus simple!*/

    .logo
    {
        & a{
            display: flex;
            height: 4rem;
            align-items: center;
            margin-left: -4.5rem;
        }

        & .icon-return{
            color: $color-bg-darken;
        }

        & img{
            width: 60%;
            height: 2.5rem;
            margin-left: 3rem;
        }
    }

    .menu-title
    {
        display: flex;
        font: $font-logo;
    }

    .cover
    {
        & img{
            width: 100%;
            height: 20rem;
            object-fit: cover;
        }
    }

    .le-menu
    {
        background-color: $color-bg-light;
        margin-top: -60px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 0 40px 10px;
        & .card-dish{
            background-color: white;
            display: flex;
            margin: 10px 10px 10px 10px;
            padding: 15px 15px 15px 15px;
            border-radius: 15px;
            box-shadow: 0 1px 5px grey;
            cursor: pointer;
            & .card-dish:hover .card-choose{
                width: 300px;
            }
        }
        & .card-dish-detail{
            display: block;
        }
        & .card-dish-meal{
            display: block;
        }
        & .card-dish-accompagnement{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .card-right-side{
            display: flex;
            & .card-price{
                display: flex;
                align-items: flex-end;
                margin: 0 3px -1px auto;
            }
            & .card-choose {
                background-color: $color-tertiary;
                display: flex;
                font-size: 2rem;
                justify-content: center;
                align-items: center;
                width: 0;
                height: 100%;
                position: relative;
                border-radius: 6px 6px 6px 6px;
                /*translate le + adapté*/
                
            }
         }

    }
