.button
{
    height: 3rem;
    border-radius: 2rem;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
    width: auto;
    color: #ffffff;
    border-color: transparent;
}

.menu-choice-btn-order
{
    height: 3rem;
    border-radius: 2rem;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
    width: 40%;
    color: #ffffff;
    border-color: transparent;
}

/*bouton menu*/

.btn-menu{
    position: relative;
    width: 94%;
    height: 80px;
}
.menu-choice-btn{
    text-align: center;
    padding: 40px 12px 20px 0;
    & .menu-choice-btn-order{
        width: 180px;
    }
}

