/* Mobile */


        .footer 
        {
            background-color: $color-bg-darken;
            color: #ffffff;
            padding: 1.125rem 1.5625rem 2.25rem;
        }
    
        .logo-footer
        {
            color: #ffffff;
            size: 60px;
            font-family: $font-logo; 
        }
    
        .footer-list
        {
            color: #ffffff;
            margin-left: -40px;
        }
    
        .footer-link
        {
            text-decoration: none;
            color: #ffffff;
        }
